<div ng-if="isMultiple != 'true'">
    <ui-select tagging="tagHandler" class="btn-block vm-cursor-pointer vmdropdown" id="{{controlId}}" name="{{controlId}}" ng-required="{{requiredField}}" data-controlname="{{validationName}}" ngvalidate ng-disabled="isDisabled" ng-model="ngSelectModel"
               theme="select2" ng-change="onChangeEvent({{$select.selected}})" data-value="{{$select.selected}}" on-select="onSelected($item)">
        <ui-select-match placeholder="{{placeHolder}}" class="vm-uiselect2-height ui-select-match" allow-clear="true">{{$select.selected.Name}}</ui-select-match>
        <ui-select-choices class="ui-select-choices" repeat="item.Code as item in items | orderBy:'{{orderbyParameter}}' | filter: {Name: $select.search}">
            {{item.Name}}
        </ui-select-choices>
    </ui-select>
</div>
<div ng-if="isMultiple == 'true'">
    <ui-select multiple ng-model="ngSelectModel" theme="select2" ng-disabled="isDisabled" class="btn-block vm-cursor-pointer vmdropdown" id="{{controlId}}" name="{{controlId}}" ng-required="{{requiredField}}" data-controlname="{{controlId}}" ngvalidate ng-change="onChangeEvent(ngSelectModel)">
            <ui-select-match placeholder="{{PlaceHolder}}" class="vm-uiselect2-height">{{$item.Name}}</ui-select-match>
        <ui-select-choices repeat="item.Code as item in items | orderBy:'Name' | filter: {name: $select.search} track by $index">
            <div ng-bind-html="item.Name"></div>
        </ui-select-choices>
      </ui-select>
</div>

