<!--* Description: The Leftside bar page.
 * Author:  Tapan
 * Created On: 6/01/2017
 * Modified For:  Rounting for Overview, Expertise, Quality Culture, Infrastructure, WhyVmoksha, Work on the CSS
 * Modified On: 7/01/2017,13/01/2017
 * Modified By:Kirti ,Tapan
 * *-->
 <!-- leftsidebar-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
         <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="a-menu">
           About Us 
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true">
       <div class="panel-body">
         <div class="list-group">
           <a ui-sref="company" class="list-group-item">  Overview</a>
           <a ui-sref="Expertise" class="list-group-item">  Expertise</a>
           <a ui-sref="QualityCulture" class="list-group-item">  QualityCulture</a>
           <a ui-sref="Infrastructure" class="list-group-item">  Infrastructure</a>
           <a ui-sref="WhyVmoksha" class="list-group-item">  WhyVmoksha</a>
          </div>
       </div>
     </div>
   </div>
   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingOne">
       <h4 class="panel-title">
         <a role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="Culture" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
           Culture 
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
       <!-- <div class="panel-body">
         <div class="list-group">
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
         </div>
       </div> -->
     </div>
   </div>
   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="Testimonials" aria-expanded="false" aria-controls="collapseTwo">
           Testimonials
         </a>
       </h4>
     </div>
     </div>
     <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="CorporateSocialResponsibilities" aria-expanded="false" aria-controls="collapseTwo">
           Corporate Social Responsibilities 
       </h4>
     </div>
     </div>

<!--End leftsidebar -->

