<!--* Description: The Leftside bar page.
 * Author:  Tapan
 * Created On: 6/01/2017
 * Modified For:  Rounting for Overview, Expertise, Quality Culture, Infrastructure, WhyVmoksha
 * Modified On: 6/01/2017,7/01/2017
 * Modified By:Kirti V.
 * *-->
 <!-- leftsidebar-->
<aside id="leftsidebar" >
	<div class="nav" id="Left_accordion">
		<ul id="menu-main-menu-1" class="menu">
			<li>
				<a href="#" target="_self">About Us<span class="caret"></span>
				</a>
				<ul class="sub-menu" data-index="0">
					<li>
						<a ui-sref="company">Overview</a>
					</li>
					<li>					
						<a ui-sref="Expertise">Expertise</a>
					</li>
					<li><a ui-sref="QualityCulture">Quality Culture</a>
						
					</li>
					<li>
						<a ui-sref="Infrastructure">Infrastructure</a>
					</li>
					<li>
						<a ui-sref="WhyVmoksha">Why Vmoksha?</a>
					</li>
					<li>
						<a ui-sref="page">page346</a>
					</li>
				</ul>
			</li>
			<li>
				<a ui-sref="Culture">Culture</a>
			</li>
			
			<li>
				<a ui-sref="Testimonials">Testimonials</a>
			</li>
			
			<li>
				<a ui-sref="CorporateSocialResponsibilities" style="border-bottom: 0px;">Corporate Social Responsibilities
				</a>
			</li>
		</ul>
	</div>				
</aside>
<!--End leftsidebar -->

