<!--* Description: The Product Leftside bar page.
 * Author:  Kirti
 * Created On: 19/01/2017
 * Modified For:  
 * Modified On:
 * Modified By:
 * *-->
 <!-- Product leftsidebar-->
 
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="deenstdesk" aria-expanded="false" aria-controls="collapseTwo">
           DéenstDesk
         </a>
       </h4>
     </div>
     </div>
     <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="retail_business_solution" aria-expanded="false" aria-controls="collapseTwo">
           Retail Business Solution
         </a>
       </h4>
     </div>
     </div>
     <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="vzone" aria-expanded="false" aria-controls="collapseTwo">
           Vzone
           </a>
       </h4>
     </div>
     </div>
</div>

<!--End  Product leftsidebar -->

