<!--* Description: The Services Leftside bar page.
 * Author: 
 * Created On: 16/01/2017
 * Modified For:  
 * Modified By:
 * *-->
 <!--  Services eftsidebar-->
<!-- 
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
         <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
           Collapsible Group Item #3 <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="true">
       <div class="panel-body">
         <div class="list-group">
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
         </div>
       </div>
     </div>
   </div>
   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseTwo" class="collapsed">
           Collapsible Group Item #2 <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
       <div class="panel-body">
         <div class="list-group">
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
         </div>
       </div>
     </div>
   </div>

    <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseThree" class="collapsed">
           Collapsible Group Item #1 <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
       <div class="panel-body">
         <div class="list-group">
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
         </div>
       </div>
     </div>
   </div>

    <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseTwo" class="collapsed">
           Collapsible Group Item #4 <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
       <div class="panel-body">
         <div class="list-group">
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
           <a href="#" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span> Menu Item</a>
         </div>
       </div>
     </div>
   </div>
   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Collapsible Group Item #5 <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>

     <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
           Collapsible Group Item #6 <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>


<! * Description: The Services Leftside bar page.
 * Author: 
 * Created On: 16/01/2017
 * Modified For:  
 * Modified By:
 * *-->
 <!--  Services eftsidebar-->
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">

            <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Application Engineering <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
       <div class="panel-body">
         <div class="list-group">
           <a ui-sref="application_development" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"> Application Development</a>
           <a ui-sref="application_management" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"> Application Management</a>
           <a ui-sref="internet_of_things" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"> Internet of Things</a>
         </div>
       </div>
     </div>
   </div>

    <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseThree" id="a-menu">
           Enterprise Mobility
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false">
       <div class="panel-body">
         <div class="list-group">
           <a ui-sref="enterprise_mobility_overview" class="list-group-item"> <span class="glyphicon glyphicon-link" aria-hidden="true"></span>Enterprise Mobility Overview</a>
           <a ui-sref="mobility_service_offerings" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Mobility Service Offerings</a>
         </div>
       </div>
     </div>
   </div>

    <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
         <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="a-menu">
           Testing
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
       <div class="panel-body">
         <div class="list-group">
           <a ui-sref="testing_services_overview" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Testing Services Overview</a>
           <a ui-sref="testing_services_offerings" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Testing Services Offerings</a>
           <a ui-sref="test_tools_and_technologies" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Test Tools & Technologies</a>
         </div>
       </div>
     </div>
   </div>
    <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingFour">
       <h4 class="panel-title">
         <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="a-menu">
           Cloud Computing
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
       <div class="panel-body">
         <div class="list-group">
           <a ui-sref="cloud_computing_overview" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Cloud Computing Overview</a>
           <a ui-sref="cloud_development" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Cloud Development</a>
         </div>
       </div>
     </div>
   </div>

   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
         <a class="" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" id="a-menu">
           Infrastructure Management
         </a>
       </h4>
     </div>
     <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false">
       <div class="panel-body">
         <div class="list-group">
           <a ui-sref="remote_infrastructure_management" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Remote Infrastructure Management</a>
           <a ui-sref="rim_offerings" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  RIM Offerings</a>
           <a ui-sref="rim_business_benefits" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  RIM Business Benefits</a>
         </div>
       </div>
     </div>
   </div>
   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="it_staffing_services" aria-expanded="false" aria-controls="collapseTwo">
           IT Staffing Services <span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>

     <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingTwo">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="digital_marketing_services" aria-expanded="false" aria-controls="collapseTwo">
           Digital Marketing Services<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
         </a>
       </h4>
     </div>



  <!--  <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingFive">
       <h4 class="panel-title">
         <a role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
           Infrastructure Management
         </a>
       </h4>
     </div>
     <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne" aria-expanded="false" style="height: 0px;">
       <div class="panel-body">
         <div class="list-group">
           <a ui-sref="remote_infrastructure_management" class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  Remote Infrastructure Management</a>
           <a ui-sref="rim_offerings"class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span>  RIM Offerings</a>
           <a ui-sref="rim_business_benefits"class="list-group-item"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> RIM Business Benefits</a>
         </div>
       </div>
     </div>
   </div>
   <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingSix">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="#" aria-expanded="true" aria-controls="collapseTwo">
           IT Staffing Services
         </a>
       </h4>
     </div>
     </div>
     <div class="panel panel-primary">
     <div class="panel-heading" role="tab" id="headingSevean">
       <h4 class="panel-title">
         <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" ui-sref="#" aria-expanded="false" aria-controls="collapseTwo">
           Digital Marketing Services
       </h4>
     </div>
     </div> -->

<!--End leftsidebar -->



